body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 5px;
}

.logo img, .user-logo img {
    padding: 10px;
    max-height: 36px;
}
.user-logo img{
    border-radius: 50%;

}
.nav {
    display: flex;
    gap: 10px;
}

.nav-button, .dropbtn {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button{
    color:#196ae5;
    margin-right: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.main{
    width: 90%;
    margin: 0px 40px;
    padding: 0px 24px;
}
.main_title{
    padding: 16px;
    margin: 10px 30px ;
}

.box_1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: black 0.5px solid;
    box-shadow: black 4px 2px ;
    margin: 0px 30px;
    }
.sub_head{
    margin: 0px 24px 0px 0px ;
}

.box_3{
    color:#196ae5;
    border: none;
}